<style type="text/css">

 div {
    color:black;
}

.container{
  background-color: #b3ffec;
}

.debut{
background-image: url("cascade.jpg");
background-size: 1280px 864px;
background-position: cover;
padding-top: 230px;
padding-bottom: 150px;
padding-left:70px;
background-repeat: no-repeat;
color:white;
}


label{
    font-size: 18px;
    position: right;
    color: white;
  }

input[type="submit"] {
      background: #00b3b3;
      font-style: helvetica;
      color: white;
      font-size: 15px;
      position: left;
      -webkit-appearance: button;
  }


  h1{
    -webkit-text-stroke: 1px #b3ffec;
  } 



h2{
    font-size: 100px;
    font-style: helvetica;
    color: white;
    text-align: left;
    -webkit-text-stroke: 1px #b3ffec;
  }



   h3{
    font-size: 100px;
    font-style: helvetica;
    color: black;
    text-align: center;
    background-color: #b3ffec;
      padding-top: 10px;
    padding-bottom: 10px;  
  }

   h4{
    font-size: 60px;
    font-style: helvetica;
    color: black;
    text-align: center;
    
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #b3ffec; 
  }



.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;

}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: white;
    color:white;
    background-color:pink;
}

  footer{
    text-align: center;
    font-style: helvetica;
    color: black;
    font-size: 15px;
    text-align: center;
  }

</style>