<style type="text/css">

 div {
    text-align: left;
    color:black;
}

.container{
  background-color: #b3ffec;
}

.debut{
background-image: url("cascade.jpg");
background-size: 1280px 864px;
background-position: top;
background-repeat: no-repeat;
padding-top: 100px;
padding-bottom: 100px;
padding-left:100px;
font-size:100px;
color:white;
}


h1{
    font-size: 100px;
    text-align: center;
    -webkit-text-stroke: 1px #b3ffec;
    color:white;
  } 

h2{
    font-size: 45px;
    font-style: helvetica;
    padding-left: 20px;
    background-color: #b3ffec;
  }
  
img{
    width:310px;
    height:310px;
  }

ul {
      font-size: 20px;
      font-style: helvetica;
      padding: 5px;
      text-align: left;
    }

li {
      padding: 0px 30px 10px 30px;
    }

p{
  font-size: 20px;
  padding-left: 30px;
}


iframe{
    position: center;
  }


</style>